<!DOCTYPE html>
{% load staticfiles %}

<html lang="en">

<head>
    
    
    <meta charset="utf-8">
    <meta name="viewpoint" content="width=device-width, initial-scale=1">
    <title>
        Centro Dental Andratx - 
    </title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" >

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://cdnjs.cloudfare.com/ajax/libs/rellax/1.7.1/rellax.min.js"></script>
    <link href="{% static 'css/stylesheet.css' %}" rel="stylesheet">


    <!--Javascript-->

    <!--Chango colour on scroll-->

    <script src="https://cdnjs.cloudflare.com/ajax/libs/rellax/1.12.1/rellax.min.js"></script>

    <script>
    // Accepts any class name
    var rellax = new Rellax('.rellax');
    </script>
    <script>
        $(window).scroll(function(){
        $('nav').toggleClass('scrolled', $(this).scrollTop()>5);
        });
    </script>
    <script>
        $(window).scroll(function(){
            if($(this).scrollTop() > 5){
            $('.abc').addClass('ncol');
            } else{
            $('.abc').removeClass('ncol');
            }
        });
    </script>
    
     
</head>
<body>
<!--Navigation-->

<nav class="navbar navbar-expand-md navbar-light bg-light fixed-top">  
<div class="container-fluid abc">    
    <!--<a class="navbar-brand" href="/centrodentalandratx/home/"><img src="{% static 'images/logo.png' %}"></a>-->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapseNavBar" >
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="collapseNavBar">
        <u1 class="navbar-nav mr-auto "> 
            <img id="logo" src="{% static 'images/logo.png' %}"   />
        </u1>
        <u1 class="navbar-nav ml-auto ">
           
            <li class="nav-item">
                <a class="nav-item abc"  href="/centrodentalandratx/home/"> <span class="underline"> Home</span></a>
            </li>     
            <li class="nav-item">
                <a class="nav-item abc"  href="/centrodentalandratx/localizacion/"><span class="underline">Localizacion</span></a>
            </li>   
        
            <li class="nav-item">
                <a class="nav-item abc"  href="/centrodentalandratx/tratamientos/"><span class="underline">Tratamientos</span></a>
            </li>  
            <span class="nav-indicator"></span>
        </u1>
    </div>
    
</div> 
</nav>



{% block body_block %}
{% endblock %}


<!--Connect-->
<footer>
    <div class="container-fuid padding">
    <div class="row text-left">
        <div class="col-md-4 col-sm-12">
            
            <h5>Localizacion</h5>
           
            <p>C/Maura, 42 Bajos</p>
            <p>07150 Andratx  </p>
                     
        </div>
        
        <div class="col-md-4 col-sm-12">
            
            <h5>Logo</h5>
            
            <p>Telefono: 971-136-216</p>
            <p>Email: centrodentalandratx@hotmail.com</p>
            <a href="https://www.facebook.com/centrodentalandratx/"><i class="fa fa-facebook"></i></i></a>
            <a href="#"><i class="fa fa-instagram"></i></a>
            
        </div>

      
        <div class="col-md-4 col-sm-12">
            
            <h5>Horario</h5>
           
            <p>Lunes: 9:00 - 14:00 y 15:00 - 20:00</p>
            <p>Martes: 9:00 - 14:00 y 15:00 - 20:00</p>
            <p>Miercoles: 9:00 - 14:00 y 15:00 - 20:00</p>
            <p>Jueves: 9:00 - 14:00 y 15:00 - 20:00</p>
            <p>Viernes: 9:00 - 14:00 y 15:00 - 20:00</p>
            <p>Sabado y Domingo: Cerrado</p>
           
           
        </div>  
        
        
    </div>
        <div id="lastInfo">
        <div class="row text-center">
            <div class="col-md-12">
                
                <h3 id="foot">&copy; centrodentalandratx.com</h3>
            </div>
        </div>
        </div>
    
    </div>
    </div>

</footer>
<script src="rellax.min.js"></script>
<script>
  // Accepts any class name
  var rellax = new Rellax('.rellax', {
    center: true
  });
</script>

<script src="{% static 'observers.js' %}"></script>
</body>
</html>